/* Background */

body{
    background:#f4f7fc;
    font-family: "Poppins", sans-serif;
}

/* Dashboard */

.dashboard{
    display:flex;
    min-height:100vh;
}

/* Main Content */

.content{
    flex:1;
    padding:25px;
}

/* Dashboard Heading */

.dashboard-title{
    font-size:32px;
    font-weight:700;
    color:#1e293b;
    margin-bottom:30px;
}

/* Cards */

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

/* KPI Cards */

.dashboard-card{

    border:none !important;

    border-radius:18px;

    overflow:hidden;

    transition:.3s;

    cursor:pointer;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.dashboard-card:hover{

    transform:translateY(-8px);

    box-shadow:0 18px 35px rgba(0,0,0,.18);

}

.dashboard-card .card-body{

    padding:30px;

}

.dashboard-card h5{

    font-size:18px;

    font-weight:600;

}

.dashboard-card h2{

    font-size:34px;

    font-weight:bold;

}

/* Section Cards */

.section-card{

    border:none !important;

    border-radius:18px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    overflow:hidden;

}

/* Tables */

.table tbody tr:hover{

    background:#eef5ff;

}

/* Alerts */

.alert{

    border-radius:12px;

    font-weight:600;

}

/* Card Header */

.card-header{

    font-weight:bold;

}

/* Responsive */

@media(max-width:768px){

.cards{

flex-direction:column;

}

.dashboard-card{

width:100%;

}

}